<!DOCTYPE html>
<html lang="pt-br">
<%- include('includes/head') %>
<body>
    <main>
        <%- include('includes/alexsa') %>
        
        <%- include('includes/section')%>
    </main>
    <script src="../../assets/js/bundle.js"></script>
</body>
</html>