<!DOCTYPE html>
<html lang="pt-br">
<%- include('includes/head') %>
<body>
    <main>
        <section>
            <div class="section__form">
                <h2>Preencha!</h2>
                <form action="/" method="post">
                    <p><input type="hidden" name="_csrf" value="<%= csrfToken %>"/></p>
                    <p><input type="text" name="nome" id="inputNome"/></p>
                    <p><input type="text" name="sobrenome" id="inputSobrenome"/></p>
                    <p><input type="number" name="idade" id="inputIdade"/></p>

                    <button>Enviar!</button>
                </form>
            </div>
        </section>
    </main>
    <script src="../../js/bundle.js"></script>
</body>
</html>