<section>
    <div class="section__home-title">
        <h1>
            
            <p><%= titulo %><p>
            <p><%= titulo %></p>

        </h1>

        <p><% numeros.forEach((num, indice) => {%>
            <%= num, indice %>
        <% }) %></p>

        <p><% for(let letras of pEscondido) {%>
            <%= letras %><br>
            <% }%>
        </p>

        

        <p>aprendendo sobre models</p>
        
        <h2>Preencha o form!</h2>

        <form action="/" method="post">
            <p><input type="text" name="nome" id="inputNome"/></p>
            <p><input type="text" name="sobrenome" id="inputSobrenome"/></p>
            <p><input type="number" name="idade" id="inputIdade"/></p>

            <button>Enviar</button>
        </form>
    </div>
</section>