<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo EJS</title>
</head>
<body>
    <main>
        <h1>Sou um arquivo EJS e fui renderizado!</h1>
    </main>
</body>
</html>