<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <main>
        <h1>Sou um arquivo EJS</h1>

        <p>funciono como um html, mesmo não sendo um arquivo html.</p>

        <div class="grid-container">
            <div class="grid-item">
                <h2>Lorem</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, velit voluptas possimus voluptate laboriosam nesciunt harum nihil similique, assumenda maxime fugit natus modi minima nulla ipsam dolor odit consectetur facere?</p>
            </div>
            <div class="grid-item">
                <h2>lorem</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam fuga veniam ea maiores impedit tenetur, amet, quos ad iure soluta porro qui veritatis nihil velit esse tempore. Facere, quaerat.</p>
            </div>
            <div class="grid-item">
                <h2>lorem</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dicta repellendus eaque, inventore sequi dolores quibusdam autem vero dolore aliquam impedit excepturi neque! Provident, deleniti? Exercitationem ducimus ipsum natus unde?</p>
            </div>
            <div class="grid-item">
                <h2>Lorem</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam placeat possimus, eos fugiat recusandae minus ducimus facere numquam quam distinctio deserunt ad similique vero rem in necessitatibus, voluptate eligendi.</p>
            </div>
        </div>
    </main>
    <script src="../../assets/js/bundle.js"></script>
</body>
</html>