@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    & h3 {
        font-size: 1.5em;
        margin-left: 5px;
    }
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
    li {
        font-size: 1.2em;
        padding: 5px 5px;
    }
    li:hover {
        background-color: rgb(173, 173, 173);
    }

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: ;
        color: black;
        
    }
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans';
    overflow:auto;
}

.image-bg {
    background: lightgray radial-gradient(white, rgb(155, 155, 155));
    padding: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nissangtr-text {

    & p {
        font-size: 1.2em;
        max-width: 400px;
    } 

    & h2 {
        margin-bottom: 15px;
        font-size: 2.4rem;
    }
    }
    & .img-nissangtr {
        margin-right: -60px;
        & img {
            max-width: 460px;
            
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
    font-weight: 900;
}

#intro {
    max-width: 1200px;
    margin: auto;

    & h2 {
        font-size: 1.6rem;
        padding: 40px 0px 15px 0px;
        text-align: center;
        margin: auto;
    }
    & p {
        padding: 5px 0px;
        font-size: 1.3em;
        max-width: 900px;
        margin: auto;
        text-align: center;
    }
}