<%- include('includes/head') %>
  <body>
    <%- include('includes/nav') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>

            <div class="col-lg-8 my-4">
                <h1 class="text-center">Agenda</h1>

                <p class="text-muted text-center">Seus contatos estão abaixo</p>
                
                <%- include('includes/messages') %>
            

            <div class="responsive-table">
                <table class="table ms-auto">
                    <tr>
                        <td>big love</td>
                        <td>celular</td>
                        <td> (83) 99130-3948</td>
                        <td>alexsamartins@icloud.com</td>
                    </tr>
                    <tr>
                        <td>big love</td>
                        <td>celular</td>
                        <td> (83) 99130-3948</td>
                        <td>alexsamartins@icloud.com</td>
                    </tr>
                    <tr>
                        <td>big love</td>
                        <td>celular</td>
                        <td> (83) 99130-3948</td>
                        <td>alexsamartins@icloud.com</td>
                    </tr>
                    <tr>
                        <td>big love</td>
                        <td>celular</td>
                        <td> (83) 99130-3948</td>
                        <td>alexsamartins@icloud.com</td>
                    </tr>
                    <tr>
                        <td>big love</td>
                        <td>celular</td>
                        <td> (83) 99130-3948</td>
                        <td>alexsamartins@icloud.com</td>
                    </tr>
                </table>
            </div>
        </div>

            <div class="col-lg-2">

            </div>
        </div>
    </div>

<%- include('includes/footer') %>