@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: center;
    min-height: 300vh;
    font-family: Arial, Helvetica, sans-serif;

}
main {
    display: grid;
    grid-template-columns: 500px 500px 500px;
}
.items {
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: "Poetsen One";

    
    .p {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    
}

.section-text {
    margin: 20px 5px;
    text-indent: 5px;
}
.section-text p {
    margin-bottom: 10px;
}
.section-text p::first-letter {
    display: block;
    font-size: 50px;
    font-weight: bold;
    font-family: serif;
    
}
.section-text h2 {
    margin-bottom: 15px;
}
.section-sobreMim {
    background: black url('WhatsApp\ Image\ 2024-05-09\ at\ 23.54.44.jpeg') no-repeat center fixed;
    background-size: cover;
    display: flex;

    .sobreMim-bg {
        background-color: rgba(0, 0, 0, 0.304);
        padding: 12vh;
        width: 98.9vw;
        color: white;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: space-around;

        .borda {
            border-right: 2px solid white;
            
        }
        .polaroid-body {
            padding: 5px 5px 0px 5px;
            max-width: 250px;
            height: 340px;
            margin:  25px auto;
            border: 1px solid rgba(0, 0, 0, 0.274);
            background-color: white;
        }
        .polaroid-image img {
            display: block;
            width: 235px;
            height: 280px;
            margin: auto;

        }
        .polaroid-content {
            font-family: "Poetsen One";
            margin-right: -1px;
            height: 51px;
            color: black;
            display: flex;
            justify-content: space-between;
        }
        .polaroid-content p {
            font-size: 1.1em;
            margin-left: 5px;
        }

        h2 {
            margin: -70px 25px 25px -65px;
        }
        p {
            margin-left: -50px;
            max-width: 370px;
            text-align: justify;
        }


    }
}

@media (min-width: 320px) and (max-width: 1200px) {
    main {
        grid-template-columns: 98vw;

        .items {
            max-width: 95vw;
        }
    }
}
